flask==3.0.3
gunicorn==22.0.0
python-dotenv==1.1.0
openai==2.6.0
pydantic==2.7.1
ollama==0.6.1
meilisearch==0.31.0
grpcio>=1.62,<1.64
# google-generativeai==1.43.0
# sqlite-utils==3.36
# jieba==0.42.1
# qdrant-client
# schedule==1.2.2 排程器使用
